<div class="about">


    <section class="me-text">
    <h2>Ifekitan Obasa</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora possimus beatae eos suscipit alias similique quasi reprehenderit eius in consectetur labore, debitis, pariatur illo magnam. Consequatur error repellendus iste fugit!Odio qui neque sequi nam distinctio aliquid harum dolores repellat incidunt dolor ipsam, ullam omnis nesciunt cum deserunt error pariatur cupiditate sit iusto! A commodi eius voluptatum error, architecto rem?

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium enim impedit natus. Rem voluptas nemo ratione dignissimos laudantium, corrupti minima! Voluptate, voluptatum rem! Rerum distinctio ad deserunt excepturi repudiandae minima.Officia ducimus ipsum aliquam voluptatum fugiat eos omnis suscipit pariatur reiciendis quasi sequi dicta accusamus nemo odio eveniet cupiditate repellendus, dolorem, sed earum soluta culpa ad aperiam incidunt. Sequi, nulla.
    </p>
    </section>

        <section class="me">
        <img src="images/ife.png" alt="">
    </section>

</div>