<div class="c-img">
                  <div class="heading">
                    <div id="logo">
                        <a href="/"><img src="images/logo-white.svg" alt=""></a>
                    </div>
                
                    <nav id="mainNav"><!--beginning of mainNav-->
                        <button id="button"></button>
        
           
                         <!-- this is my dropdown nav element -->
                         <nav id="burgerCon">
                             <h1 class="close">X</h1>
           
                           <ul id="burgerMenu">
                                 <!-- <li><a href="index.html">HOME</a></li> -->
                                 <li><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/portfolio">Portfolio</a></li>
                                 <li><a href="/contact">Contact Moi</a></li>
                           </ul>
           
           
                         </nav>
                         <!-- end dropdown nav -->
                       </nav>
                    </div>
     <section class="ctext">
                            <h3>Ifekitan Obasa</h3>
                             <div class="c-social-media">
                    <img src="images/gmail.svg" alt="">
                    <img src="images/close-envelope.svg" alt="">
                    <img src="images/facebook.svg" alt="">
                    <img src="images/youtube.svg" alt="">
                </div>
                        </section>



                        <div class="contact-main"><!--Contact textbox area-->
                        <!-- Forms-->
                        <form action="">
            
                        <div class="name">
                         <input type="text" name="company" placeholder="Name">
                        </div>
                        <br>
            
                        <div class="subject">
                          <input type="text" name="subject" placeholder="Subject">
                        </div>
                        
            
                        <br>
            
                      <div class="e-mail">
                        <input type="email" name="usermail" required placeholder="E-mail">
                      </div>
                      <br>
            
            
                          <div class="Message">
                          <textarea name="message" id="user-message" cols="30" rows="10" placeholder="Message"></textarea>
                        </div>
                        <br>

                        <input type="submit" value="Send!" class="send1">
            
                        </form>
            
    
                      </div><!-- End of contact textbox area-->