   
      <div class="project">

        <h1 class="close-project">X</h1>

<div class="body1">


      </div>

      </div>

<div  class="container" id="project">
      <nav  data-aos="fade-down" id="nav" >
    <ul>

         {{#each projects}}
           <li>
        <a class="u-link" href="{{ID}}">{{TITLE}}</a>
        <img src="{{HOVER_IMG}}" alt="project_images">
        </li>
        {{/each}}

      </ul>
      </nav>

      </div>
