    <div class="showcase">

            <div class="img">
                <div class="heading">
                    <div id="logo">
                        <a href="/"><img src="images/logo-white.svg" alt=""></a>
                    </div>
                
                    <nav id="mainNav"><!--beginning of mainNav-->
                        <button id="button"></button>
        
           
                         <!-- this is my dropdown nav element -->
                         <nav id="burgerCon">
                             <h1 class="close">X</h1>
           
                           <ul id="burgerMenu">
                                 <!-- <li><a href="index.html">HOME</a></li> -->
                                 <li><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/portfolio">Portfolio</a></li>
                                 <li><a href="/contact">Contact Moi</a></li>
                           </ul>
           
           
                         </nav>
                         <!-- end dropdown nav -->
                       </nav>
                    </div>
                
                    <div class="overlay"> </div>
                        <div class="heroText">
                                <h1>Ife Obasa</h1>
                                <h2>animator, developer</h2>
                        </div>
            </div>

            <div class="img1">
                <section class="p-text">
                    <h3>About Me..</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor consequuntur explicabo ipsum dolores sed adipisci, quis nostrum voluptatem iure libero. Consequuntur sequi magni consequatur non aliquam expedita debitis hic temporibus.</p>
                    <a class="read-more" href="/about"> read More..</a>
                </section>
                
            </div>


            {{!-- <div class="img2">
                <section class="p-text">
                    <h3>Contact</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor consequuntur explicabo ipsum dolores sed adipisci, quis nostrum voluptatem iure libero. Consequuntur sequi magni consequatur non aliquam expedita debitis hic temporibus.</p>
                    <a class="read-more" href="/contact"> read More..</a>
                </section>

            </div> --}}

            <div class="img3">
                <section class="p-text">
                    <h3>Portfolio</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor consequuntur explicabo ipsum dolores sed adipisci, quis nostrum voluptatem iure libero. Consequuntur sequi magni consequatur non aliquam expedita debitis hic temporibus.</p>
                    <a class="read-more" href="/portfolio"> read More..</a>
                </section>
          
            </div>
{{!-- 
            <div class="img4">
                <section class="p-text">
                    <h3>Coding</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor consequuntur explicabo ipsum dolores sed adipisci, quis nostrum voluptatem iure libero. Consequuntur sequi magni consequatur non aliquam expedita debitis hic temporibus.</p>
                    <button class="read-more">Read More..</button>
                </section>

            </div> --}}

            <div class="img5">

                    <section class="text">
                            <h3>Contact Moi</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor consequuntur explicabo ipsum dolores sed adipisci, quis nostrum voluptatem iure libero. Consequuntur sequi magni consequatur non aliquam expedita debitis hic temporibus.</p>
                            <button class="read-more">Read More..</button>
                        </section>


                    <div class="contact"><!--Contact textbox area-->
                        <!-- Forms-->
                        <form action="">
            
                        <div class="firstName">
                          <label>Name</label>
                         <input type="text" name="company">
                        </div>
                        <br>
            
                        <div class="lastName">
                          <label>Subject</label>
                          <input type="text" name="subject">
                        </div>
            
                        <br>
            
                      <div class="E-mail">
                        <label>E-Mail</label>
                        <input type="email" name="usermail" required>
                      </div>
                      <br>
            
            
                          <div class="message">
                            <label>Message</label>
                          <textarea name="message" id="user-message" cols="30" rows="10"></textarea>
                        </div>
                        <br>

                        <input type="submit" value="Send!" class="send">
            
                        </form>
            
    
                      </div><!-- End of contact textbox area-->
            </div>
    
        </div>

        <div class="email">
            <h1 class="closeM">X</h1>
            <h3>Heeeyy!!</h3>
            <p>Thanks for contacting moi, I'll get back to you soon
            </p>
        </div>

        <div class="end">

            </div>
        
        
            <div class="footer">
                    <div id="f-logo">
                            <img src="images/logo-white.svg" alt="">
                        </div>
                
                <div class="social-media">
                    <img src="images/gmail.svg" alt="">
                    <img src="images/close-envelope.svg" alt="">
                    <img src="images/facebook.svg" alt="">
                    <img src="images/youtube.svg" alt="">
                </div>
        
                <section id="copyright">
                    <p>&copy; copyright 2019 Ife Obasa</p>
                </section>
        
            </div>