   
    <div class="showcase">
     {{!-- <a class="top" href="#more"><img src="images/top.svg" alt="back-to-top"></a> --}}
            <div class="img">
                <div class="heading">
                    <div id="logo">
                        <a href="/"><img src="images/logo-white.svg" alt=""></a>
                    </div>
                
                    <nav id="mainNav"><!--beginning of mainNav-->
                        <button id="button"></button>
        
           
                         <!-- this is my dropdown nav element -->
                         <nav id="burgerCon">
                             <h1 class="close">X</h1>
           
                           <ul id="burgerMenu">
                                 <!-- <li><a href="index.html">HOME</a></li> -->
                                 <li><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/portfolio">Portfolio</a></li>
                                 <li><a href="/contact">Contact Moi</a></li>
                           </ul>
           
           
                         </nav>
                         <!-- end dropdown nav -->
                       </nav>
                    </div>

                     <section data-aos="fade-down" class="about" id="about">
                       <section class="p-text" >
                    <b>My name is <span>Ife Obasa</span>, I'm an aspiring web developer.
                    </b>
                    <p>I'm an Interactive Media Student at Fanshawe College.</p>
                        <h3>I like food.</h3>
                        <a href="#more">Learn More.</a>
                        </section>

                        <img data-aos="fade-left" src="images/hero-image.jpg" alt="">

                </section>

                    
              
            </div>

            <div class="img1">
              
              <div data-aos="fade-down"  id="more" class="container">
  <nav id="nav">
    <ul>
      <li>
        <a  href="#skills">
        Skillset</a>
         <section class="p-text">
                    <span>My Skillset</span>
                        <b>Languages</b>
                        <p>CSS3, HTML, JAVASCRIPT, NODE, EXPRESS</p>
                        <b>Skills</b>
                        <p>Web development, Web design, 3D design</p>
                </section>
      </li>
      <li>
        <a  href="#contact">DEMO REEL</a>
        <img src="images/place5.jpg" alt="">
      </li>
       <li>
        <a  href="#work">My works</a>
        <img src="images/wood.jpg" alt="">
      </li>
      <li>
        <a  href="#contact">Contact</a>
        <img src="images/place5.jpg" alt="">
      </li>
    </ul>
  </nav>

</div>
                
            </div>

            <div id="skills" class="img2">
                 <section  data-aos="fade-down" class="p-text">
                    <b>My Skillset</b>
                        <p>Languages</p>
                        <p>CSS3, HTML, JAVASCRIPT, NODE, EXPRESS</p>
                        <p>Skills</p>
                        <p>Web development, Web design, 3D design</p>
                </section>

            </div>

            <div id="work"  class="img3">
                    
<div data-aos="fade-down"  class="container">
  <nav id="nav">
    <ul>
      <li>
        <a href="/project1">
        Aesthetic<br>Anastasia</a>
        <img src="images/rose_glasses.jpg" alt="">
      </li>
      <li>
        <a href="/project2">
        Infographic</a>
        <img src="images/place3.jpg" alt="">
      </li>
       <li>
        <a href="/project3">

        Interactive<br>Infographic</a>
        <img src="images/wood.jpg" alt="">
      </li>
      <li>
        <a href="/project4">
        Demo reel</a>
        <img src="images/place5.jpg" alt="">
      </li>
      <li>
        <a href="/project5">
        Re-branding<br>Project</a>
        <img src="images/wendy.jpg" alt="">
      </li>
       <li>
        <a href="/project6">
        Commercial</a>
        <img src="images/commercial.jpg" alt="">
      </li>
    </ul>
  </nav>

</div>

          
            </div>

            <div id="contact" class="img5">

                    <section data-aos="fade-down" id="text" class="text">
                            <h3>Contact Moi</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor consequuntur explicabo ipsum dolores sed adipisci, quis nostrum voluptatem iure libero. Consequuntur sequi magni consequatur non aliquam expedita debitis hic temporibus.</p>
                        </section>


                        <div data-aos="fade-down" class="contact-main"><!--Contact textbox area-->
                        <!-- Forms-->
                        <form action="">
            
                        <div class="c-name">
                         <input type="text" name="company" placeholder="Name">
                        </div>
                        <br>
            
                        <div class="c-subject">
                          <input type="text" name="subject" placeholder="Subject">
                        </div>
                        
            
                        <br>
            
                      <div class="c-email">
                        <input type="email" name="usermail" required placeholder="E-mail">
                      </div>
                      <br>
            
            
                          <div class="Message">
                          <textarea name="message" id="user-message" cols="30" rows="10" placeholder="Message"></textarea>
                        </div>
                        <br>

                        <input type="submit" value="Send!" class="send1">
            
                        </form>
                        </div>
            </div>
    
        </div>

        <div class="email">
            <h1 class="closeM">X</h1>
            <h3>Heeeyy!!</h3>
            <p>Thanks for contacting moi, I'll get back to you soon
            </p>
        </div>

        <div class="end">

            </div>
        
        
            <div class="footer">
                    {{!-- <div id="f-logo">
                            <img src="images/logo-white.svg" alt="">
                        </div> --}}
                
                <div class="social-media">
                    <a href="https://www.instagram.com/iffybaas/">instagram</a>

                    <a href="https://github.com/iobasa">github</a>
            
                    <a href="https://www.linkedin.com/in/ife-obasa-567593191/">linkedIn</a>
                </div>
        
                <section id="copyright">
                    <p>&copy; copyright 2019 Ife Obasa</p>
                </section>
        
            </div>