<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://kit.fontawesome.com/3cea6f351c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">  
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel='stylesheet' href='/css/main.css' />

<title>docuemnt</title>

</head>

<body>
  <!-- passed in via handlebars -->
  {{{body}}}
  <!-- end dynamic stuff -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="js/fade.js"></script>
  <script src="js/mail.js"></script>
  <script src="js/main.js"></script>
</body>

</html>