<!DOCTYPE html>
<html>

<head>
  <title>docuemnt</title>
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel='stylesheet' href='/css/main.css' />
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
  <!-- passed in via handlebars -->
  {{{body}}}
  <!-- end dynamic stuff -->
  <script src="js/main.js"></script>
</body>

</html>