  <div class="heading">
                    <div id="logo">
                        <a href="/"><img src="images/logo-white.svg" alt=""></a>
                    </div>
                
                    <nav id="mainNav"><!--beginning of mainNav-->
                        <button id="button"></button>
        
           
                         <!-- this is my dropdown nav element -->
                         <nav id="burgerCon">
                             <h1 class="close">X</h1>
           
                           <ul id="burgerMenu">
                                 <!-- <li><a href="index.html">HOME</a></li> -->
                                 <li><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/portfolio">Portfolio</a></li>
                                 <li><a href="/contact">Contact Moi</a></li>
                           </ul>
           
           
                         </nav>
                         <!-- end dropdown nav -->
                       </nav>
                    </div>


<div class="container">
  <nav id="nav">
    <ul class="ul">
      <li>
        <a href="/project1">
        <p>Developer</p>
        Aesthetic<br>Anastasia</a>
        <img src="images/rose_glasses.jpg" alt="">
      </li>
      <li>
        <a href="/project2">
        <p>Design</p>
        Infographic</a>
        <img src="images/place3.jpg" alt="">
      </li>
       <li>
        <a href="/project3">
        <p>Developer</p>
        Interactive<br>Infographic</a>
        <img src="images/wood.jpg" alt="">
      </li>
    </ul>


    <ul class="ul">
      <li>
        <a href="/project4">
        <p>3D design</p>
        Demo reel</a>
        <img src="images/place5.jpg" alt="">
      </li>
      <li>
        <a href="/project5">
        <p>3D design</p>
        Re-branding<br>Project</a>
        <img src="images/wendy.jpg" alt="">
      </li>
       <li>
        <a href="/project6">
        <p>3D design</p>
        Commercial</a>
        <img src="images/commercial.jpg" alt="">
      </li>
    </ul>
  </nav>
 
  <img src="images/place6.jpg" alt="">
</div>






{{!-- 
    <div class="navvv">
        <div class="intro">
    
        <p class="port-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae debitis voluptates qui consequatur eveniet quidem sunt ratione aspernatur mollitia accusamus itaque dolores quas optio provident, repellat exercitationem nulla veniam expedita?</p>

    </div>

         <div class="bottom-nav">
            <nav id="bottomNav">
    	<ul id="navList">

            <li class="arrow" data-offset="0">Infographic</li>
            <li class="arrow" data-offset="1">Favourite<br>Things</li>
            <li class="arrow" data-offset="2">Aesthetic<br>Anastasia</li>
            <li class="arrow" data-offset="3">Interactive<br>Infographic</li>
             <li class="arrow" data-offset="4">demo reel</li>
            </ul>
            </nav>
        </div> --}}

        

<script src="js/portfolio.js"></script>