  <div class="heading">
                    <div id="logo">
                        <a href="/"><img src="images/logo-white.svg" alt=""></a>
                    </div>
                
                    <nav id="mainNav"><!--beginning of mainNav-->
                        <button id="button"></button>
        
           
                         <!-- this is my dropdown nav element -->
                         <nav id="burgerCon">
                             <h1 class="close">X</h1>
           
                           <ul id="burgerMenu">
                                 <!-- <li><a href="index.html">HOME</a></li> -->
                                 <li><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/portfolio">Portfolio</a></li>
                                 <li><a href="/contact">Contact Moi</a></li>
                           </ul>
           
           
                         </nav>
                         <!-- end dropdown nav -->
                       </nav>
                    </div>

   <section class="imgContainer">
  <div class="postshow" style="right: 0;">
            <div class="p-img"></div>
                <div class="p-img1"></div>
                <div class="p-img2"></div>
                <div class="p-img3"></div>
                <div class="p-img4"></div>
        </div>
        </section>

    <div class="navvv">
        <div class="intro">
        <h3 id="portf-name">Coding</h3>

        <p class="port-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae debitis voluptates qui consequatur eveniet quidem sunt ratione aspernatur mollitia accusamus itaque dolores quas optio provident, repellat exercitationem nulla veniam expedita?</p>
    </div>

         <div class="bottom-nav">
            <nav id="bottomNav">
    	<ul id="navList">

            <li><a href="/project1" class="arrow" data-offset="0">Infographic</a></li>
            <li><a href="/project2" class="arrow" data-offset="1">Favourite<br>Things</a></li>
            <li><a href="/project3"class="arrow" data-offset="2">Aesthetic<br>Anastasia</a></li>
            <li><a href="/project4" class="arrow" data-offset="3">Interactive<br>Infographic</a></li>
             <li><a href="/project5"class="arrow" data-offset="4">demo reel</div></li>
            </ul>
            </nav>
        </div>

        </div>


        
        <div class="p-end">

            </div>
        
        
            <div class="footer">
                    <div id="f-logo">
                            <img src="images/logo-white.svg" alt="">
                        </div>
                
                <div class="social-media">
                    <img src="images/gmail.svg" alt="">
                    <img src="images/close-envelope.svg" alt="">
                    <img src="images/facebook.svg" alt="">
                    <img src="images/youtube.svg" alt="">
                </div>
        
                <section id="copyright">
                    <p>&copy; copyright 2019 Ife Obasa</p>
                </section>
