       <div class="body1">
           <div class="heading">
                    <div id="logo">
                        <a href="/"><img src="images/logo-white.svg" alt=""></a>
                    </div>
                
                    <nav id="mainNav"><!--beginning of mainNav-->
                        <button id="button"></button>
        
           
                         <!-- this is my dropdown nav element -->
                         <nav id="burgerCon">
                             <h1 class="close">X</h1>
           
                           <ul id="burgerMenu">
                                 <!-- <li><a href="index.html">HOME</a></li> -->
                                 <li><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/portfolio">Portfolio</a></li>
                                 <li><a href="/contact">Contact Moi</a></li>
                           </ul>
           
           
                         </nav>
                         <!-- end dropdown nav -->
                       </nav>
                    </div>


    <div class="hero-p2">
        <h2>Interactive Infographic -<span>Infographic</span></h2>

    <p>* Great way to share lots of data in a simple way</p>
    </div>


<section class="desc1">
    <h3>Interactive<br>Infographic</h3>
    <p>An Infographic is simple way of telling a lot of information, The Interactive Infographic is a way of sharing information in a more interesting way where people can learn information.
        <br><br>
    <span>Role: </span>Designer and Devloper.
    </p>
</section>

<section id="mockup">
<video class="int-video" src="video/Interactive-Video.mp4" type="video/mp4" controls=autoplay ></video>
</section>

<section class="pro-desc">
    <h3>Project Description</h3>
    <p>We were meant to make a website baout anything we wanted and take phtotgraphs for it, All photographs were taken by me except for the "blog" section in the "Home page" which was a stock photo. This website was made through use of CSS and HTML only. 

    The logo was also made by me in illustrator. 
    </p>
</section>


    <section class="info">
    <img src="images/infographic.svg" alt="">

    <div id="description">
    <section class="pro-desc2">

            <h3>Based on <br>This Infographic</h3>
            <p>The interactive Infographic was based on this Infographaic talking about the most popular pizza topping in the US based on research by Brian Roemmele on Quora. Based on the information, I designed everything using Adobe Illustrator.
            </p>
        </section>

        {{!-- <section class="role">
                <p><b>Role:</b> Designer, Coder</p>
                <p><b>Date:</b> March 11, 2019</p>
            </section> --}}
        </div>
</section>


<section class="arrow">
    <a href="/project2"><img src="images/left-arrow.svg" alt=""></a>
    <a href="/portfolio"><img src="images/p-menu.svg" alt=""></a>
    <a href="/project4"><img src="images/right-arrow.svg" alt=""></a>
</section>
</div>

                    
        <div class="end">

            </div>
        
        
            <div class="footer">
                    <div id="f-logo">
                            <img src="images/logo-white.svg" alt="">
                        </div>
                
                <div class="social-media">
                     <img src="images/instagram.svg" alt="">
                    <img src="images/gmail.svg" alt="">
                    <img src="images/linkedIn.svg" alt="">
                </div>
        
                <section id="copyright">
                    <p>&copy; copyright 2019 Ife Obasa</p>
                </section>