 <div class="heading">
                    <div id="logo">
                        <a href="/"><img src="images/logo.svg" alt=""></a>
                    </div>
                
                    <nav id="mainNav"><!--beginning of mainNav-->
                        <button id="button"></button>
        
           
                         <!-- this is my dropdown nav element -->
                         <nav id="burgerCon">
                             <h1 class="close">X</h1>
           
                           <ul id="burgerMenu">
                                 <!-- <li><a href="index.html">HOME</a></li> -->
                                 <li><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/portfolio">Portfolio</a></li>
                                 <li><a href="/contact">Contact Moi</a></li>
                           </ul>
           
           
                         </nav>
                         <!-- end dropdown nav -->
                       </nav>
                    </div>
                
                
    <div class="body3">

        <div class="info">


    <img src="images/infographic.svg" alt="">

    <div id="description">
    <section class="pro-des">
            <h3>Project Description</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus vero esse explicabo, aut doloremque, fugit, repellat assumenda praesentium sint rerum cupiditate? Corporis similique voluptatum nobis eligendi placeat dolorum quae vitae.
        
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente voluptates eligendi distinctio iure tenetur a laborum nesciunt ratione libero exercitationem! Nemo nesciunt illo saepe magni beatae iure enim eveniet perferendis.
            </p>

            <section class="role">
                <p><b>Role:</b> Designer, Coder</p>
                <p><b>Date:</b> March 11, 2019</p>
            </section>
        </section>

        </div>
    </div>

    <section class="arrow">
    <a href="/project1"><img src="images/left-arrow.svg" alt=""></a>
    <a href="/portfolio"><img src="images/p-menu.svg" alt=""></a>
    <a href="/project3"><img src="images/right-arrow.svg" alt=""></a>
</section>

</div>

    
<div class="end">

    </div>


    <div class="footer">
            <div id="f-logo">
                    <img src="images/logo-white.svg" alt="">
                </div>
        
       <div class="social-media">
                     <img src="images/instagram.svg" alt="">
                    <img src="images/gmail.svg" alt="">
                    <img src="images/linkedIn.svg" alt="">
                </div>

        <section id="copyright">
            <p>&copy; copyright 2019 Ife Obasa</p>
        </section>
