    <div class="body1">
        <h2 class="name">Aesthetic Anastasia</h2>

    <img id="ana-logo" src="images/ana-logo.svg" alt="">



    <div class="desc">
<section class="pro-desc">
    <h3>Project Description</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus vero esse explicabo, aut doloremque, fugit, repellat assumenda praesentium sint rerum cupiditate? Corporis similique voluptatum nobis eligendi placeat dolorum quae vitae.

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente voluptates eligendi distinctio iure tenetur a laborum nesciunt ratione libero exercitationem! Nemo nesciunt illo saepe magni beatae iure enim eveniet perferendis.
    </p>
</section>

        <section class="role">
    <p><b>Role:</b> Designer, Coder</p>
    <p><b>Date:</b> March 11, 2019</p>
</section>

</div>

    <section class="plan">
    <img src="images/ana-home page.png" alt="">
    <img src="images/ana-contact.png" alt="">
</section>

<img id="mockup" src="images/ana-mockup.png" alt="">
<div class="pink"></div>

</div>

 <div class="end">

            </div>
        
        
            <div class="footer">
                    <div id="f-logo">
                            <img src="images/logo-white.svg" alt="">
                        </div>
                
                <div class="social-media">
                    <img src="images/gmail.svg" alt="">
                    <img src="images/close-envelope.svg" alt="">
                    <img src="images/facebook.svg" alt="">
                    <img src="images/youtube.svg" alt="">
                </div>
        
                <section id="copyright">
                    <p>&copy; copyright 2019 Ife Obasa</p>
                </section>
        
            </div>