    <div class="body1">
         <div class="heading">
                    <div id="logo">
                        <a href="/"><img src="images/logo-white.svg" alt=""></a>
                    </div>
                
                    <nav id="mainNav"><!--beginning of mainNav-->
                        <button id="button"></button>
        
           
                         <!-- this is my dropdown nav element -->
                         <nav id="burgerCon">
                             <h1 class="close">X</h1>
           
                           <ul id="burgerMenu">
                                 <!-- <li><a href="index.html">HOME</a></li> -->
                                 <li><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/portfolio">Portfolio</a></li>
                                 <li><a href="/contact">Contact Moi</a></li>
                           </ul>
           
           
                         </nav>
                         <!-- end dropdown nav -->
                       </nav>
                    </div>

    <div class="hero-p">
        <h2>Aesthetic Anastasia -<span>blog</span></h2>

    <p>* A colour blog</p>
    </div>


<section class="pro-desc1">
    <h3>A colour blog</h3>
    <p>Aesthetic Ansatasia is about a blog for Sarah Wager as an online color source for designers. The colour palettes are based of various works of designers and photographers.
        <br><br>
    <span>Role: </span>Designer and Devloper.
    </p>
</section>

<section id="mockup">
<img src="images/ana-mockup.png" alt="">
</section>

<section class="pro-desc">
    <h3>Project Description</h3>
    <p>We were meant to make a website baout anything we wanted and take phtotgraphs for it, All photographs were taken by me except for the "blog" section in the "Home page" which was a stock photo. This website was made through use of CSS and HTML only. 

    The logo was also made by me in illustrator. 
    </p>
</section>


    <section class="layout">
    <img src="images/ana-blog.png" alt="">
</section>

<section class="layout1">
    <img src="images/ana-home page.png" alt="">
    <img src="images/ana-contact.png" alt="">
</section>

<section class="pro-desc">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus vero esse explicabo, aut doloremque, fugit, repellat assumenda praesentium sint rerum cupiditate? Corporis similique voluptatum nobis eligendi placeat dolorum quae vitae.

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente voluptates eligendi distinctio iure tenetur a laborum nesciunt ratione libero exercitationem! Nemo nesciunt illo saepe magni beatae iure enim eveniet perferendis.
    </p>
</section>


<section class="arrow">
    <a href="/portfolio"><img src="images/p-menu.svg" alt=""></a>
    <a href="/project2"><img src="images/right-arrow.svg" alt=""></a>
</section>
</div>

 <div class="end">

            </div>
        
        
            <div class="footer">
                    <div id="f-logo">
                            <img src="images/logo-white.svg" alt="">
                        </div>
                
                <div class="social-media">
                     <img src="images/instagram.svg" alt="">
                    <img src="images/gmail.svg" alt="">
                    <img src="images/linkedIn.svg" alt="">
                </div>
        
                <section id="copyright">
                    <p>&copy; copyright 2019 Ife Obasa</p>
                </section>
        
            </div>