    <div class="body1">

             <div class="heading">
                    <div id="logo">
                        <a href="/"><img src="images/logo-white.svg" alt=""></a>
                    </div>
                
                    <nav id="mainNav"><!--beginning of mainNav-->
                        <button id="button"></button>
        
           
                         <!-- this is my dropdown nav element -->
                         <nav id="burgerCon">
                             <h1 class="close">X</h1>
           
                           <ul id="burgerMenu">
                                 <!-- <li><a href="index.html">HOME</a></li> -->
                                 <li><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/portfolio">Portfolio</a></li>
                                 <li><a href="/contact">Contact Moi</a></li>
                           </ul>
           
           
                         </nav>
                         <!-- end dropdown nav -->
                       </nav>
                    </div>

    <div class="hero-p2">
        <h2>MusicMixer -<span>An Interactive Project</span></h2>

    <p>* Interactive Ocean Oasis for relaxation</p>
    </div>


<section class="desc1">
    <h3>Ocean Oasis</h3>
    <p>Used to make good use of the morphing technique in Cinema 4D to showcase anything. This was a commercial for no frills about a Holiday Sale.
        <br><br>
    <span>Role: </span>Coder.
    <br>
    Partner: Nour Al-Osman(Designer).
    </p>
</section>

<section id="mockup">
<video class="int-video" src="video/MusicMixer.mp4" type="video/mp4" controls=autoplay ></video>
</section>

<section class="pro-desc">
    <h3>Project Description</h3>
    <p>The commercial is about a sale that’s happening on food items due to the
holiday season, the use of “racy rock” music is to make people more “into”
the commercial and grab their attention, also making it unique from other
food advertisements with slower or the “usual” kind of music, the
specification of the date is written at the end of the screen, “from Nov 27
until Dec 15”, and the company, “No frills” logo and tagline appears at the
end.<br><br>
The goal of the video is to spread the word about the holiday sale, it
appeals to a wide range of audiences; families, parents, students etc. The
main takeaway of the commercial is that people know there is an ongoing
sale and they come to the store and buy these items and more.
    </p>
</section>



<section class="arrow">
    <a href="/project1"><img src="images/left-arrow.svg" alt=""></a>
    <a href="/portfolio"><img src="images/p-menu.svg" alt=""></a>
    <a href="/project3"><img src="images/right-arrow.svg" alt=""></a>
</section>
</div>

                    
        <div class="end">

            </div>
        
        
            <div class="footer">
                    <div id="f-logo">
                            <img src="images/logo-white.svg" alt="">
                        </div>
                
                <div class="social-media">
                     <img src="images/instagram.svg" alt="">
                    <img src="images/gmail.svg" alt="">
                    <img src="images/linkedIn.svg" alt="">
                </div>
        
                <section id="copyright">
                    <p>&copy; copyright 2019 Ife Obasa</p>
                </section>