<div class="img1">
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At id maiores perspiciatis velit soluta numquam molestiae eveniet, explicabo, quo exercitationem provident nemo ullam reprehenderit mollitia, incidunt esse porro nihil. Totam!
    Quam ab reprehenderit ea aliquam dolorum qui. Veritatis doloremque, vitae quidem explicabo expedita nihil amet sit molestias magnam, corrupti voluptatibus nobis temporibus a voluptatum blanditiis! Vero magni quam incidunt inventore?
    Est dicta eos nihil facilis assumenda quaerat rem iste a dolorum ullam nam laudantium, tempore porro, commodi fuga consectetur laborum. Ab quas dolorum a unde, obcaecati numquam quae fugit similique.</p>
</div>