.c-img{
  background-image: url("../images/contact-image.jpg");
  /* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

height:700px;
}



.read-more { 
  padding: 16px 10px; 
  color: white; 
  background-color: black; 
  text-decoration: none;
  margin-top: 18px
}

.read-more:hover { 
  padding: 16px 10px; 
  color: black; 
  background-color:white; 
  text-decoration: none;
}

  .contact-img {
    width: 100%;
    background-color: grey;
}

.border {
  margin-top: 100px;
  width: 60px;
  height: 2px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 2px #35AAA6;
}

.send
{
display: flex;
justify-content: center;
margin-right: -330px;
  margin-top: 20px;
margin-bottom: 50px;
}

.send
{
float: right;
font-family: 'Poppins', sans-serif;
font-weight: 400;
text-decoration: none;
font-size: 2rem;
  color: white;
  background-color: #35AAA6;
  padding-right: 1rem;
  padding: .2rem 4.5rem;
  width: 40%;
}

.send:hover
{
  color: #D0E4DD;
  background-color: black;
}















@media screen and (min-width: 64em) {

.c-img{
    background-image: url("../images/contact-image.jpg");
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height:700px;
  }


  
  
  
  .show-message { display: block; }
  
  .read-more { 
    padding: 12px 8px; 
    color: white; 
    background-color: black; 
    text-decoration: none;
    margin-top: 8px
  }

  .read-more:hover { 
    padding: 12px 8px; 
    color: black; 
    background-color:white; 
    text-decoration: none;
    margin-top: 8px
  }
  

  input
{
    width: 150%
}

input[type=text]
{
height: 10%;
padding: 20px 10px;
margin: 8px 0;
box-sizing: border-box;
border: none;
}

input[type=email]
{
padding: 20px 30px;
margin: 8px 0;
box-sizing: border-box;
border: none;
}

input[type=message]
{
    width: 400%;
    color: black;
    padding: 40px 30px;
    margin: 8px 0;
box-sizing: border-box;
border: none;
}

.hero-head1 {
margin-bottom: 130px;
margin-top: 130px;
display: flex;
flex-direction: column;
}

.hero-head1 h1{
width: 40%;
float: left;
font-family: din-condensed,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 10rem;
color: white;
background-color: #35AAA6;
}


.contact label {
    font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 2rem;
font-style: normal;
color: #35AAA6;
}

#Contact h3 {
    font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: black;
  font-size: 4rem;
  text-align: center;
  margin-top: 160px;
}

.contact
{
    padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
    margin-left: 30%;
}

.contact p
{
    padding-top: 40px;
}


.firstName
{
  margin-right: 80px;
}

.lastName
{
  margin-right: 80px;
}

.E-mail
{
  margin-right: 80px;
}

.message
{
  margin-right: 95px;
  border:  3px black;
}

.message label {
    font-family: 'Poppins', sans-serif;
font-weight: 400;
font-style: normal;
color: #35AAA6;
  margin-bottom: 10px;
  border:  3px black;
}

.message textarea {
  margin-top: 10px;
  width: 155%;
    height: 150px;
}

.send
{
  display: flex;
  justify-content: center;
  margin-right: -125px;
    margin-top: 20px;
  margin-bottom: 50px;
}

.send
{
  float: right;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 2rem;
    color: white;

    background-color: #35AAA6;
    padding-right: 1rem;
    padding: .2rem 4.5rem;
    width: 40%;
}

.send:hover
{
    color: #D0E4DD;
    background-color: black;
}

}