


.showcase{
  width: 100%;
}




.img{

    background-image: url("../images/home.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:100vh;
}

.img1{

    background-image: url("../images/hero-image.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:100vh;
}


.img3{

    background-image: url("../images/place4.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:100vh;
}

.img5{

    background-image: url("../images/contact-image.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:100vh;
}

.p-text{
  width: 90%;
  margin-top: 250px;
  float: left;
  margin-left: 5%;
}

.p-text h3{
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-style: black;
font-size: 10rem;
color: white;
margin-bottom: 50px;
}

.p-text p{
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-style: black;
line-height: 60px;
font-size: 3.2rem;
color: white;
margin-bottom: 80px;
}

.text{
  width: 90%;
  padding-top: 100px;
  margin-left: 5%;

}

.text h3{
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-style: black;
font-size: 7rem;
color: white;
margin-bottom: 50px;
}

.text p{
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-style: black;
font-size: 3.2rem;
color: white;
margin-bottom: 30px;
}






@media screen and (min-width: 48em) {
  


.showcase{
  width: 100%;
}




.img{

    background-image: url("../images/home.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:100vh;
}

.img1{

    background-image: url("../images/hero-image.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:100vh;
}


.img3{

    background-image: url("../images/place4.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:100vh;
}

.img5{

    background-image: url("../images/contact-image.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:100vh;
}

.p-text{
  width: 90%;
  margin-top: 250px;
  float: left;
  margin-left: 5%;
}

.p-text h3{
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-style: black;
font-size: 10rem;
color: white;
margin-bottom: 50px;
}

.p-text p{
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-style: black;
line-height: 60px;
font-size: 3.2rem;
color: white;
margin-bottom: 80px;
}

.text{
  width: 90%;
  padding-top: 100px;
  margin-left: 5%;

}

.text h3{
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-style: black;
font-size: 7rem;
color: white;
margin-bottom: 50px;
}

.text p{
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-style: black;
font-size: 2rem;
color: white;
margin-bottom: 30px;
}
}








@media screen and (min-width: 64em) {


.showcase{
    width: 100%;
}



.img{

    background-image: url("../images/home.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:700px;
}

.img1{

    background-image: url("../images/hero-image.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:700px;
}


.img3{

    background-image: url("../images/place4.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:700px;
}

.img5{

    background-image: url("../images/contact-image.jpg");
              /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:700px;
}

.p-text{
    width: 50%;
    margin-top: 250px;
    float: left;
    margin-left: 50px;

}

.p-text h3{
    font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: black;
  font-size: 5rem;
  color: white;
  margin-bottom: 50px;
}

.p-text p{
    font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: black;
  line-height: 40px;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 30px;
}

.text{
    width: 30%;
    margin-top: 100px;
    float: left;
    margin-left: 50px;

}

.text h3{
    font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: black;
  font-size: 5rem;
  color: white;
  margin-bottom: 50px;
}

.text p{
    font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: black;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 30px;
}

}

