.arrow{
    margin-top: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.arrow a{
    width: 10%;
}

.arrow img{
    width: 50%;
}

.desc1{
    margin-top: 8%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    margin-bottom: 10%;
}

.desc1 p{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}

.desc1 h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.pro-desc2{
    margin-top: 8%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
}

.pro-desc2 p{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}

.pro-desc2 h3{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-p3{
    background-image: url("../images/wood.jpg");
            /* Create the parallax scrolling effect */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-top: -26%;

height: 700px;
}

.hero-p3 h2{
    padding-left: 5%;
    padding-top: 30%;
    color: white;
    font-weight: 700;
    margin-top: 0px;
    font-size: 2rem;
    text-align: left;
}

.hero-p3 p{
    padding-top: 10%;
    font-family: "Raleway";
    color: white;
    font-weight: 700;
    margin-top: 0px;
    font-size: 4.5rem;
    text-align: center;
}

.hero-p3 span{
    color: white;
    font-weight: 700;
    margin-top: 0px;
    font-size: 2.5rem;
    text-align: center;
}

.int-video{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    width: 100%;
}


.info{
    display: flex;
    flex-direction: row;
}

.info img{
    margin-top: 150px;
    width: 100%;
}

.desc{
    display: none;
}

#description{
    display: none;
    margin-top: 100px;
    padding-bottom: 50px;
    height: 70%;
    overflow-y: auto;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    width: 50%;
    overflow: auto;
}











@media screen and (min-width: 48em) {
    .arrow{
        margin-top: 10%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .arrow a{
        width: 10%;
    }
    
    .arrow img{
        width: 50%;
    }
    
    .desc1{
        margin-top: 8%;
        margin-left: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 50%;
        margin-bottom: 10%;
    }
    
    .desc1 p{
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif;
        line-height: 25px;
    }
    
    .desc1 h3{
        font-size: 4.5rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .pro-desc2{
        margin-top: 8%;
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 80%;
    }
    
    .pro-desc2 p{
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif;
        line-height: 25px;
    }
    
    .pro-desc2 h3{
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .hero-p3{
        background-image: url("../images/wood.jpg");
                /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 700px;
    }
    
    .hero-p3 h2{
        padding-left: 5%;
        padding-top: 20%;
        color: white;
        font-weight: 700;
        margin-top: 0px;
        font-size: 3rem;
        text-align: left;
    }
    
    .hero-p3 p{
        padding-top: 10%;
        font-family: "Raleway";
        color: white;
        font-weight: 700;
        margin-top: 0px;
        font-size: 6rem;
        text-align: center;
    }
    
    .hero-p3 span{
        color: white;
        font-weight: 700;
        margin-top: 0px;
        font-size: 2.5rem;
        text-align: center;
    }
    
    .int-video{
        display: flex;
        justify-content: center;
        margin-left: 5%;
        width: 100%;
        margin-bottom: 10%;
    }
    
        
    
    .info{
        display: flex;
        flex-direction: row;
    }
    
    .info img{
        display: block;
        margin-top: 150px;
        width: 40%;
    }
    
    .desc{
        display: none;
    }
    
    #description{
        display: block;
        margin-top: 100px;
        padding-bottom: 50px;
        height: 70%;
        overflow-y: auto;
        overflow: hidden;
        position: sticky;
        position: -webkit-sticky;
        top: 0; /* required */
        width: 50%;
        overflow: auto;
    }
    
    
    
    
    
}













@media screen and (min-width: 64em) {
.arrow{
    margin-top: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.arrow a{
    width: 10%;
}

.arrow img{
    width: 50%;
}

.desc1{
    margin-top: 8%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    margin-bottom: 10%;
}

.desc1 p{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}

.desc1 h3{
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.pro-desc2{
    margin-top: 8%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
}

.pro-desc2 p{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}

.pro-desc2 h3{
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-p3{
    background-image: url("../images/wood.jpg");
            /* Create the parallax scrolling effect */
background-position: center;
background-repeat: no-repeat;
background-size: cover;

height: 700px;
}

.hero-p3 h2{
    padding-left: 5%;
    padding-top: 10%;
    color: white;
    font-weight: 700;
    margin-top: 0px;
    font-size: 3rem;
    text-align: left;
}

.hero-p3 p{
    padding-top: 10%;
    font-family: "Raleway";
    color: white;
    font-weight: 700;
    margin-top: 0px;
    font-size: 7rem;
    text-align: center;
}

.hero-p3 span{
    color: white;
    font-weight: 700;
    margin-top: 0px;
    font-size: 2.5rem;
    text-align: center;
}


.pro-des p{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}


.pro-des h3{
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}


.int-video{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    width: 100%;
}

#description{
    margin-top: 60px;
    padding-bottom: 50px;
    height: 70%;
    overflow-y: auto;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    width: 60%;
    overflow: auto;
    display: block;
}


.info img{
    width: 50%;
}

}